.question-container {
    background-color: whitesmoke;
    border: 1px solid gray;
    padding: 10px;
    border-radius:4px;
    margin: 8px;
}
.question {
    font-size: 20px;
    font-weight: 500;
}
.options-container {
    margin:10px;
}
.option {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin:8px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid gray;
}
.option:hover {
    background-color: rgb(228, 225, 225);
    border: none;
}
.next-button {
    border-radius: 4px;
    padding: 8px;
    border: 1px solid gray;
    width: 60px;
    cursor: pointer;
    font-size: 17px;
}
.finished-page {
    font-size: 18px;
}
.restart-button {
    border-radius: 4px;
    border: 1px solid gray;
    padding: 8px;
    width: 70px;
    font-size: 17px;
}